/* Write your CSS here */
.home-container {
  background-color: #000000;
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:15px;
}
