/* Write your CSS code here */
* {
  font-family: 'Roboto';
}
.currency-name {
  color: #ffffff;
}
.list-image {
  width: 30px;
  margin-right: 10px;
}
.usd {
  color: #ffffff;
  margin-right: 10px;
}
.europe {
  color: #ffffff;
  margin-left: 10px;
}
.currency-logo-name-container {
  display:flex;
  flex-direction:row;
  justify-content:center;
  width: 50%;
}
.currency-container-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.list-item-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.curr-logo-cont {
  display: flex;
  align-items: center;
}
